@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    89.98deg,
    rgb(2, 2, 12) -2.94%,
    #050518 8.12%,
    #02020c 100.61%
  );
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.header {
  border-bottom: 2px solid;
  border-image-source: linear-gradient(
    90deg,
    #06c6dd 9.24%,
    #0368be 44.39%,
    #0146a6 69.63%,
    rgba(5, 5, 25, 0) 100%
  );
  border-image-slice: 1;
}
